@import "primeicons/primeicons.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--p-font-family), system-ui, sans-serif;
  background: var(--p-surface-950);
  color: var(--p-surface-100);
}

body {
  color-scheme: dark;
}
